/***** CSS *******/

body{
	font-family: 'Century Gothic', sans-serif;
	font-size: 20px;
	text-align: center; 
	background: linear-gradient(white); /* couleur de fond en cyan vif */
	color:black;
	background-image: src="images/Fond.png"  width="20%";
	background-repeat:no-repeat;
	background-size: cover;
	background-attachment: fixed;
}

h1{
	font-size:40px;
	font-weight: 100; /* taille normale */
	color: black; /* bleu vif */
}

h2{
	font-size:20px;
	font-weight: 10; /* taille normale */
	color: black; /* bleu vif */
}

h3{
	font-size:50px;
	font-weight: 100; /* taille normale */
	color: black; /* bleu vif */
}

p {
    text-indent: 50px;
    letter-spacing: 1px;
}
.img1{
	width: 6.5%;
    display: block;
    margin-left: auto; /* marge à gauche automatique */
    margin-right: auto; /* marge à droite automatique */ }

.img2{
	width: 100%;
    display: block;
    margin-left: auto; /* marge à gauche automatique */
    margin-right: auto; /* marge à droite automatique */ }


a {
    text-decoration: none;
    color: #008CBA; /* bleu brillant */
}
footer{
	height: 200px;
	padding-top: 30px;
	text-align: center;
	background-color: #008B8B; /* couleur de fond en gris clair */
	border-top: 2px solid #AAA; /* bordure haute 2 pixels 
}
